body {
    background-color: black;
    font-family: arial;
    color: white
}
h1 {
    color: grey;
    font-family: verdana
}

.maindiv {
    background-color: white;
    color: black;
    font-size: small;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
}

.row {
    padding-left: 85px; 
    display: flex;
    flex-direction: row;
}

.buttondiv{
    text-align: center;
}

.resultdiv{
    padding-left: 85px;
    text-align: left;
}

.labeldiv {
    text-align: left;
    width: 100px;
}

.inputdiv {
    padding-left: 10px;
}

.highlight {
    background-color: yellow;
}
